.exclusive-games{
    width: 100%;

    &__container{
        max-width: 1320px;
        margin: 0 auto;
    }
}

.games-header {
    display: flex;
    justify-content: space-between;
    margin: 85px 0;

    &__container {
        display: flex;
        gap: 159px;
    }

    &__paragraph {
        color: $light-grey-color;
        font-weight: 600;
    }

    &__header {
        color: $white-color;
        font-weight: 700;
        font-size: 32px;
        max-width: 175px;
    }

    &__icons-container {
        display: flex;
        gap: 24px
    }

    &__icon {
        max-width: 20px;
    }

    &__link{
        display: flex;
        gap: 16px;
        align-items: baseline;

        color: $light-blue-color;
        text-decoration: none;
        font-weight: 600;

        & img {
            width: 9px;
        }
    }
}

.exclusive-games__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 28px;
    justify-content: space-between;
}

.card {
    max-width: 301px;
    margin-bottom: 20px;

    &__image-container {
        position: relative;
        max-width: 301px;
        max-height: 413px;
        border-radius: 4px;
        overflow: hidden;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: linear-gradient(182.71deg, #020203 2.26%, rgba(2, 2, 3, 0) 73.74%);
            opacity: 0.4;
            transform: rotate(-180deg);
            transition: opacity 0.3s ease;
        }

        .card__game-background {
            width: 100%;
            transition: transform 0.3s ease;
            transform-origin: bottom;
        }
        

        .card__game-logo {
            width: 50%;
            position: absolute;
            top: 65%;
            left: 25%;
            z-index: 2;
        }
    }

    &__text-container {
        color: $white-color;
        margin-top: 18px;

        & h3 {
        font-weight: 600;
        font-size: 19px;
        
        }

        & p {
            font-size: 15px;
            opacity: 0.6;
        }
    }

    &:hover .card__game-background {
        transform: scale(1.1);
    }

    &:hover .card__image-container::after {
        opacity: 0.8;
    }
}

.last-card {

    &.card__image-container {
        border: 1px solid $dark-grey-color;

        &::after {
           content: none; 
        }
    }

    &__content {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__logo {
        margin-bottom: 25px;
    }

    &__text-container{
        display: flex;
        gap: 14px;

        img {
            filter: brightness(100);
            width: 9px;
        }

        p {
            color: $white-color;
        }
    }
}
