.footer {
    width: 100%;
    position: relative;

    &__container {
        display: flex;
    }

    &__background {
        object-fit: cover;
        object-position: top;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        bottom: 0;
    }
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 10% 0;
    max-width: 30%;

    &__logo {
        width: 133px;
    }

    &__header {
    font-size: 32px;
    font-weight: 700;
    }

    &__list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__item {
        color: $grey-color;
        font-size: 18px;
        display: flex;
        gap: 16px;

        &-icon {
            width: 18px;
            height: 18px;
            margin: auto 0;
        }
    }

    .btn {
        width: fit-content;
        height: 52px;
        font-weight: 600;
        display: flex;
        align-items: center;
    }

    &__mobile-container {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__mobile-icon{
        height: 20px;
    }

    &__mobile-paragraph {
        max-width: 239px;
        font-weight: 600;
        font-size: 14px;

        a {
            color: $white-color;
        }
    }

    #OSLogo {
    content: '';
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-right: 0.625rem;
    }
}

.footer-images {
    position: relative;
    left: 10%;
    width: 60%;
    overflow: hidden;

    &__background{
        width: 100%;
        position: absolute;
        top: 10%;
    }

    &__overlay{
        width: 50%;
        position: absolute;
        top: 50%;
        left: 30%;
         animation-duration: 2s;
        animation-name: scale;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }
    @keyframes scale {
        from {
            transform: scale(1)
        }

        to {
            transform: scale(1.15);
        }
    }
}

