.header {
    width: 100%;

    &__background {
        object-fit: cover;
        object-position: top;
        position: fixed;
        z-index: -1;
        max-height: 736px;
        min-width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &__menu-divider {
        background-color: $white-color;
        height: 1.5px;
        border: 0;
        opacity: 10%;
    }

    &__menu-divider-detail {
        background-color: $light-blue-color;
        height: 1.5px;
        border: 0;
        margin-bottom: -1.5px;
        max-width: 43px;
        
    }

    &__bottom-divider {
        background-color: $light-blue-color;
        height: 3px;
        border: 0;
        max-width: 560px;
        position: absolute;
        top: 733px;
        left: 0;
        right: 0;
    }
}

.header__container {
    max-width: 1320px;
    margin: 0 auto;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    margin: 28px 0;

    &__buttons-container {
    display: flex;
    gap: 16px;

    .btn {
        font-size: 0.875rem;
        width: 115px;
        height: 41px;
    }
}
}

.header-nav {
    width: 100%;
    max-width: 660px;
    display: flex;
    align-items: center;

    &__logo {
        max-height: 41px;
        margin-right: 115px;
    }

    &__list {
        list-style-type: none;
    
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__item {
        text-decoration: none;
        color: $white-color;
    }
    
}

.banner-hero {
    min-height: 634px;
    display: flex;
    align-items: center;
    position: relative;

    .btn {
        padding: 14px 32px;
        width: fit-content;
        height: 52px;
        margin-top: 16px;
    }
    
}

.game-slider {
    display: flex;
    flex-direction: column;
    gap: 20px;    
    margin-right: 183px;

    &__input {
        display: none;

        &:checked + .game-slider__item {
            mix-blend-mode: normal;
        }
    }

    &__item {
        cursor: pointer;
        mix-blend-mode: luminosity;
    }
}

.banner-hero__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    max-width: 562px;
}

.banner-hero__game-header {
    font-size: 64px;
    width: 39.125rem;
}

.banner-hero__game-paragraph{
    font-size: 18px;
}

.banner-hero__game-images {
    display: flex;
    flex-direction: column;
    gap: 112px;
    position: absolute;
    right: 0;
}

.banner-hero__trailer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;

    .banner-hero__watch-trailer {
        font-size: 13px;
        font-weight: 600;
    }
}


.banner-hero_trailer-gif {
    width: 280px;
    height: 158px;
    display: none;
}

.banner-hero_trailer-cover {
    width: 280px;
    height: 158px;
}

/* .banner-hero__trailer-container:hover > .banner-hero_trailer-gif {
    display: block;
}
.banner-hero__trailer-container:hover > .banner-hero_trailer-cover {
    display: none;
}
 */