@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './variables';
@import './header';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: $black-color;
    color: $white-color;
    display: flex;
    min-height: 100vh;
}


.btn {
    border-radius: 4px;
    padding: 0 16px;
    font-family : inherit;
    font-size: 1em;
    border: 0;
    color: $white-color;

    &--primary {
        background: $light-blue-color;
    }

    &--create-account {
        border: 1px solid $white-color;
        background: transparent;
    }    
}

